<h2>Statistics</h2>

<h3>Ranked items by type</h3>
<p>
    These categories match the in-game menu Profile > Equipment.
</p>
<p><b>Note about Kitguns</b><br />
Kitguns are both Secondary &amp; Primary, but only one version need to gilded &amp; ranked.<br />
This app label Kitguns as Secondary, and if the item are ranked they will be added to the stats for Primary.<br />
This will make app statistics correspond to in-game statistics.</p>
<br />
<table>
    <thead>
        <th>Type</th>
        <th>Unranked</th>
        <th>Ranked</th>
        <th>Total items</th>
    </thead>
    <tbody>
        {{#each this}}
        <tr>
            <td class="name">{{this.name}}</td>
            <td class="unranked">{{#if this.unranked.length}}{{this.unranked.length}}{{else}} <i class="icon-ok"></i> {{/if}}</td>
            <td class="ranked">{{this.ranked.length}}</td>
            <td class="total">{{this.total}}</td>
        </tr>
        {{/each}}
        <tr class="divider">
            <td>Total:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="total">{{this.totalItems}}</td>
        </tr>
    </tbody>
</table>

{{#ifCond this.totalItemsUnranked "==" "0"}}

<p><b>All items are ranked, nicely done!</b></p>

{{else}}

    <h3>Unranked items by type</h3>
    {{#each this}}
        {{#if this.unranked.length }}
        <div class="stats-item">
            <div class="name">
                <b>{{this.name}} ({{this.unranked.length}})
                </b>
            </div>
            <div class="ranked">
                {{#each unranked}}
                <a class="white-link" href="{{ this.wikiaUrl}}" target="_blank">{{ this.name}}{{#if this.unobtainable}}
                    (Unobtainable){{/if}}</a>{{#unless @last}}, {{/unless}}
                {{/each}}
            </div>
        </div>
        {{/if}}
    {{/each}}

{{/ifCond}}


<a class="close-reveal-modal" aria-label="Close">&#215;</a>

<div class="text-right">
    <button type="button" class="btn btn-default action-close-modal">Close</button>
</div>
