<li class="item {{#if checked}}item-checked{{else}}item-unchecked{{/if}}{{#if vaulted}} item-vaulted{{/if}}{{#if unobtainable}} item-unobtainable{{/if}}" data-name="{{name}}" data-short-name="{{shortName}}">
    <span class="name" onclick="app.item.toggleInfo('{{name}}')">{{name}}</span>
    <span class="acquisition" onclick="app.item.toggleInfo('{{name}}')">{{acquisition}}{{#if vaulted}} <i class="fa fa-fw fa-lock tippy-vaulted"></i>{{/if}}{{#if unobtainable}} <i class="fa fa-fw fa-exclamation-triangle tippy-unobtainable"></i>{{/if}}</span>
    {{#ifCond this.tierRank "==" "3"}}
        <span class="tier-rank tier-rank-3 tippy-three-stars" onclick="app.item.toggleInfo('{{name}}')">
            <i class="far  fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
        </span>
    {{/ifCond}}
    {{#ifCond this.tierRank "==" "2"}}
        <span class="tier-rank tier-rank-2 tippy-two-stars" onclick="app.item.toggleInfo('{{name}}')">
            <i class="far fa-star"></i><i class="far fa-star"></i>
        </span>
    {{/ifCond}}
    {{#ifCond this.tierRank "==" "1"}}
        <span class="tier-rank tier-rank-1 tippy-one-star" onclick="app.item.toggleInfo('{{name}}')">
            <i class="far fa-star"></i>
        </span>
    {{/ifCond}}
    {{#if this.component}}<span class="component" onclick="app.item.toggleInfo('{{name}}')"><i class="fa fa-puzzle-piece tippy-component"></i></span>{{/if}}
    <span class="check">
        {{#if this.checked }}
            <i class="far fa-check-square fa-2x" onclick="app.item.check('{{name}}', false)"></i>
        {{else}}
            <i class="far fa-square fa-2x tippy-item-check" onclick="app.item.check('{{name}}', true)"></i>
        {{/if}}
    </span>
    <div class="specification">
        <span class="type">{{type}}</span><span class="category">{{#if category}}: {{category}}{{/if}}</span>
        {{#ifCond masteryReq ">=" 1}}<span class="mastery-rank"> | MR-{{masteryReq}}</span>{{/ifCond}}
        <a href="{{wikiaUrl}}" target="_blank" class="wikia-link tippy-wikia"><i class="fa fa-external-link-alt"></i></a>
    </div>
</li>
